{% extends 'template' %}
{% block content %}
    <h1>Users</h1>
    <ul>
    {% for user in users %}
        <li>
            <a href="/admin/users/{{ user.id }}">{{ user.username }}</a>
            {% if user.is_owner %}
            <div>
                <b>Owner:</b> it's you!
            </div>
            {% endif %}
            <div>
                <b>Identity:</b> {{ user.identity }}
            </div>
            <div>
                <b>Groups:</b> {{ user["iot:access.group"] }}
            </div>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
